@model Proyecto_Final_Progra_Web.Models.Carta

<link href="~/css/style_cartas.css" rel="stylesheet" />

<h1>Detalles de Carta</h1>

<div>
    <h4>Nombre: @Html.DisplayFor(model => model.Nombre)</h4>
    <h4>Puntos de Ataque: @Html.DisplayFor(model => model.PuntosAtaque)</h4>
    <h4>Puntos de Defensa: @Html.DisplayFor(model => model.PuntosDefensa)</h4>
    <h4>Creado en: @Html.DisplayFor(model => model.CreadoEn)</h4>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.CartaId">Editar</a> |
    <a asp-action="Index">Volver a la Lista</a>
</p>
